@charset "utf-8";
/*Importing fonts for the heading*/
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

#container{
    background-color: antiquewhite;
}

header{
    display: flex;
    /* reversing the direction of the elements to match the original design */
    flex-direction: column-reverse;

}

header h1{
    background-color: aqua;
    /* using color to change the color of the text */
    color: rgb(229, 120, 19);
    /* using the imported font for the heading */
    font-family: 'Source Serif 4', 'Source Serif';
    /* using font size to manipulate the size of the font */
    font-size: 10rem;
    /* using weight to manipulate the thickness of the font */
    font-weight: 300;
    /* using letter-spacing to manipulate the spacing b/w the individual letters */
    letter-spacing: 1.5rem;
    /* setting the margin to auto to ensure even space on the left and right of the element */
    margin: 0;
    text-align: center;
    /* using text-transform to make the heading lowercase */
    text-transform: lowercase;
}

header p{
    background-color: aquamarine;
    /* using the imported font for the heading */
    font-family: 'Source Serif 4', 'Source Serif';
    /* using font size to manipulate the size of the font */
    font-size: 1.5rem;
    /* converting the text into uppercase using text transform */
    text-transform: uppercase;
    /* using the margin property to create a custom margin for the font following the (top, right, bottom, left) format. */
    margin: 0; 
}

main{
    background-color: rgb(132, 78, 13);
    display:flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    height: 1500px;
    position: relative;
    padding: 3rem 3rem 0 3rem;

}

img{
    width:500px
}

section:first-child{
    background-color: red;
    order: 1;
}

section:first-child + section{
    background-color: gold;
    order: 2;
}

section:last-of-type{
    background-color: aqua;
    order: 3;
}

footer{
    background-color: blue;
    display: flex;
    justify-content: flex-end; /* Align content to the end (right) */
    text-align: right; /* Align text to the right */
    padding: 0 10rem 0 0;

}

aside:first-of-type{
    background-color: rgb(13, 75, 75);
    order: 5;
}

aside:last-of-type{
    background-color: lightcoral;
    order:6; 
}

figcaption{
    position: absolute;
    bottom: 440px;
    left: -15px;
    transform: rotate(270deg);
}

figcaption p:first-of-type {
    display: none;
}
